{% extends "base.html" %}

{% block title %}Your Form Page{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <ul>
                <li>{{ form.name }}</li>
            </ul>
            {{ form }}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}

<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ formset.management_form }}-->
<!--    {% for form in formset %}-->
<!--        <ul>-->
<!--            <li>{{ form.name }}</li>-->
<!--        </ul>-->
<!--        {{ form }}-->
<!--    {% endfor %}-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->
