{% extends "base.html" %}

{% block title %}List of Bills{% endblock %}

{% block content %}
    <h1>List of Bills</h1>
    <ul>
        {% for bill in bills %}
            <li>
                <strong>Name:</strong> {{ bill.name }}<br>
                <strong>Amount:</strong> {{ bill.amount }}<br>
                <strong>Date:</strong> {{ bill.date }}<br>
                <strong>Paid by:</strong> {{ bill.paid_by.username }}<br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}